[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions

unzip = true
parts =
#    deliverance
    instance
    omelette
    zopepy
    test

extends =
    http://dist.plone.org/release/4.1b2/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0b7?plone=4.1b2

versions = versions
develop = 
# If you're not using mr.developer to manage develop eggs, list eggs here. Globs OK.
#    src/*

sources = sources
auto-checkout =
    collective.nitf
    collective.atomsyndication

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs = 
    Plone
    collective.nitf
    collective.atomsyndication
# development tools
    plone.reload
    Products.DocFinderTab
    Products.PDBDebugMode
zcml =

[versions]
collective.monkeypatcher = 1.0.1
collective.z3cform.datetimewidget = 1.0.4
plone.autoform = 1.0b6
plone.z3cform = 0.7.3
z3c.form = 2.4.2
zc.sourcefactory = 0.7.0
zope.schema = 3.7.1


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = 
    collective.nitf
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[sources]
collective.nitf = svn https://svn.plone.org/svn/collective/collective.nitf/trunk
collective.atomsyndication = git git@github.com:collective/collective.atomsyndication.git

[deliverance]
recipe = zc.recipe.egg
eggs +=
     PasteScript
     Deliverance
