[buildout]
extensions =
    mr.developer
    buildout.dumppickedversions
    buildout.threatlevel

unzip = true
parts =
    instance
    zopepy
    i18ndude
    test
    omelette

extends =
    http://dist.plone.org/release/4.1rc3/versions.cfg
    http://good-py.appspot.com/release/dexterity/1.0?plone=4.1rc3

find-links =
    http://dist.plone.org/release/4.1rc3
    http://dist.plone.org/thirdparty

sources = sources
always-checkout = force
auto-checkout = *
always-accept-server-certificate = true

versions = versions
newest = false

[versions]
plone.app.discussion = 1.0

[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    Plone
    PIL
    Products.Zope_Hotfix_20110622
    cioppino.twothumbs
# development packages
    collective.atomsyndication
    sg.pastebin
    sg.questions
# development tools
    plone.reload
    Products.Clouseau
    Products.DocFinderTab
    Products.PDBDebugMode

zcml =
environment-vars =
    zope_i18n_compile_mo_files true

# create bin/i18ndude command
[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs =
    collective.nitf
    collective.atomsyndication
    sg.pastebin
    sg.questions
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']

[sources]
collective.atomsyndication = git git@github.com:collective/collective.atomsyndication.git
collective.nitf = svn https://svn.plone.org/svn/collective/collective.nitf/trunk
sg.pastebin = git git@github.com:saibatizoku/sg.pastebin.git
sg.questions = git git@github.com:saibatizoku/sg.questions.git
