body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:90%;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}

#portal-wrapper{
    display: block;
    width: 960px;
    margin: 0 auto;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
}
#header {
    width: 960px;
    background-color: #8a8a8a;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8a8a8a', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#8a8a8a), to(#ffffff)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #8a8a8a,  #ffffff); /* for firefox 3.6+ */ 
    background-image: url("cabezal.png");
    background-repeat: no-repeat;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
ul#sgbar li a, ul#navbar li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul#navbar li a {
    height: 16px; line-height: 20px;
    width: 105px;
    padding: 0px 5px 3px 0; border-left: 1px solid #565656;
    text-align: center;
    text-transform: uppercase;
	color:##565656;
	background:#4A4A4A;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#c2c2c2'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#c2c2c2)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fafafa,  #c2c2c2); /* for firefox 3.6+ */ 
}
#header ul#navbar li a:hover {
	background:#4A4A4A;
	color:#565656;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#c8c8c9'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#888888)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fafafa,  #888888); /* for firefox 3.6+ */ 
}
#header ul#navbar li a.active,
#header ul#navbar li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul#navbar li a span {
	display:block;
}

#banner, #logo {
    display: inline-block;
    margin: 0; padding: 0;
}
#banner {
    width: 785px; margin-left: -3px;
    vertical-align: top;
}
#logo img {
    width: 145px; height: 80px;
    margin: 16px 0  0 16px;
}
#portal-personaltools {
    padding: 4px 12px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #005a80;
}
#portal-personaltools dd {
    background-color: #d7e8f0;
}
dl.actionMenu a, dl.actionMenu a:link, dl.actionMenu a:visited {
    color: #ffffff;
    text-transform: capitalize;
}
dd.actionMenuContent a, dd.actionMenuContent a:link, dd.actionMenuContent a:visited {
    color: #525252;
    text-transform: capitalize;
}

#portal-personaltools #anon-personalbar a {
    color: #ffffff;
    text-transform: uppercase;
}
#portal-searchbox {
 margin: 22px 0 12px 0;
}

#searchGadget, .searchButton {
    font-size: 10px;
}
/* Header bars */
ul#sgbar, ul#navbar {
    width: auto;
    margin: 0; padding: 0;
}
#header ul.sgbar li a {
    height: 25px; line-height: 25px;
    width: 110px; padding: 0 6px 0 0;
    color: #ffffff;
    text-align: right; text-transform: uppercase;
    font-family: Trebuchet MS, sans-serif; font-size: 13px; font-weight: bold;
}
/* Background colors */
#header ul.sgbar a.fondo_azul {
    background-color: #005a80;
}
#header ul.sgbar a.fondo_morado {
    background-color: #81007f;
}
#header ul.sgbar a.fondo_naranja {
    background-color: #d3691f;
}
#header ul.sgbar a.fondo_verde {
    background-color: #004101;
}
#header ul.sgbar a.fondo_rojo {
    background-color: #8c0001;
}
#header ul.sgbar a.fondo_amarillo {
    background-color: #e0a000;
}
#header ul.sgbar a.fondo_azul:hover {
    background-color: #3366cc;
}
#header ul.sgbar a.fondo_morado:hover {
    background-color: #b13fb3;
}
#header ul.sgbar a.fondo_naranja:hover {
    background-color: #ff9933;
}
#header ul.sgbar a.fondo_verde:hover {
    background-color: #339933;
}
#header ul.sgbar a.fondo_rojo:hover {
    background-color: #cc3333;
}
#header ul.sgbar a.fondo_amarillo:hover {
    background-color: #ffcc00;
}

#header ul.navbar {
    margin: 0; padding: 0;
}
#header ul.navbar li a {
    height: 16px; line-height: 20px; width: 110px;
    padding: 3px 0; color: #4d4d4d;
    text-transform: capitalize;
    font-family: Trebuchet MS, sans-serif; font-size: 11px;
}
#adsbar {
    clear: both; display: block;
    width: 960px;
}
#adsbar div {
    display: inline-block;
    margin: 15px 0; border: 1px solid #e4e4e4;
}
.adlong, .adshort {
    height: 90px;
    background-color: #eeeeee;
    border 1px solid #c1c1c1;
}
.adlong {
    width: 726px;
    /*background-image: url(/static/ad_long.jpg);*/
}
.adshort {
    padding: 0 5px;
    width: 215px;
}
/* 'widths' sub menu */
#feature {
    height: 150px;
    background-color: #3d819e;
    -moz-box-shadow:inset 0 0 20px 10px #2a617f;
    -webkit-box-shadow:inset 0 0 20px 10px #2a617f;
    box-shadow:inset 0 0 20px 10px #2a617f;
    padding-top: 16px;
}
#feature p, #feature h2, #feature .publi-info {
    padding: 0 0 0 28px;
    color: #ffffff;
}
#feature h2 {
    margin: 0;
    font-size: 20px;
}
#feature h2 a {
    color: #ffffff;
}
#feature h2 a:hover {
    color: #ffffff;
    text-decoration: underline;
}
#feature img {
    float: right;
    margin: 0 24px 11px 11px;
}
#breadcrumbs-you-are-here {
    color: #4d4d4d;
}
#redes-sociales {
    width: 300px; height: 170px;
    background-color: #ffffff;
    padding: 5px;
}
#redes-sociales h2{
    margin: 0; padding: 6px 0 14px 0;
    color: #005a80;
    font-family: Trebuchet MS, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
#redes-sociales a {
    display: inline-block;
    height: 60px; width: 60px;
    text-align: center;
}
#redes-sociales img, #redes-sociales span {
    display: inline;
    font-size: 12px; font-weight: bold;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (right menu) settings */
.rightmenu {
	background:#eee;		/* right column background colour */
}
.rightmenu .colleft {
	right: 300px;			/* right column width */
	background:#fff;		/* left column background colour */
}
.rightmenu .col1 {
	width: 645px;			/* left column content width (left column width minus left and right padding) */
	left: 300px;			/* (right column width) plus (left column left padding) */
    min-height: 500px;
}
.rightmenu .col2 {
	width: 300px;			/* right column content width (right column width minus left and right padding) */
	left: 315px;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
    margin-bottom: 20px;
    background-color: #d7e8f0;
}
#footer-columns {
    height: 250px;
}
#footer-menu, #colophon {
    display: inline-block;
    float: left;
    width: 50%; 
    height: 40px; line-height: 40px;
    background-color: #6399b1;
}
#footer-columns .column {
    display: inline-block;
    float: left;
    width: 25%; margin: 20px auto 30px auto; color: #606060;
    text-align: center;
    font-size: 11px;
    font-family: Arial, sans-serif;
}
#footer-columns .column ul {
    margin: 0px 30px;
    text-align: left;
}
#footer-columns .column li {
    display: block;
    width: 100%; margin: 14px 0;
    line-height: 14px;
}
#colophon {
    text-align: right;
}
#footer-menu {
    text-align: center;
}
